---
kind: Deployment
metadata:
  name: sonarr
  labels:
    app: sonarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: tpu
                operator: NotIn
                values:
                - "true"
      containers:
      - name: sonarr
        imagePullPolicy: "Always"
        image: linuxserver/sonarr:latest
        ports:
        - name: http
          containerPort: 8989
          protocol: TCP
        env:
        - name: TZ
          value: "America/Denver"
        - name: PUID
          value: "111"
        - name: GUID
          value: "321"
        - name: UMASK_SET
          value: "022"
        volumeMounts:
        - name: synology-iscsi-sonarr
          mountPath: /config
          subPath: sonarr/config
        - name: data
          mountPath: /data
      volumes:
      - name: synology-iscsi-sonarr
        persistentVolumeClaim:
          claimName: synology-sonarr
      - name: data
        persistentVolumeClaim:
          claimName: synology-data
